<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>promociones</ion-title>
    <ion-button class="promoboton" (click)="AlertaPromo()" slot="end">
      <ion-icon name="alert"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Promociones <b>activas:</b></p>
  <ion-card>
    <ion-card-header>
      <a href="https://www.pccomponentes.com/seagate-backup-plus-slim"><img
          src="https://img.pccomponentes.com/promotions/5244/mini.jpg"></a>
      <ion-card-title>Seagate Backup Plus Slim</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inicio de promoción: 29/11/2019<br>
      Fin de promoción: 31/01/2020
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <a href="https://www.pccomponentes.com/las-mejores-promociones-de-brother-diciembre"><img
          src="https://img.pccomponentes.com/promotions/5250/brotherp.jpg"></a>
      <ion-card-title>Las mejores promociones de BROTHER diciembre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Inicio de promoción: 03/12/2019<br>
        Fin de promoción: 31/12/2019
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <a href="https://www.pccomponentes.com/viper-control-absoluto"><img
          src="https://img.pccomponentes.com/promotions/5194/viper1.jpg"></a>
      <ion-card-title>Promocion Viper control Absoluto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ahora llévate de regalo una cubitera Razer por la compra de tus nuevos ratones Razer Viper o Viper ultimate
      <br>
      Inicio de promoción: 15/11/2019<br>
      Fin de promoción: 31/12/2019<br>
    </ion-card-content>
  </ion-card>
  <p> Promociones que te has <b>perdido:</b></p>
  <ion-card class="outpro">
    <ion-card-header>
      <img src="https://img.pccomponentes.com/promotions/5136/peque.jpg">
      <ion-card-title>Llévate gratis un teclado gaming Asus mkII</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inicio de promoción: 04/11/2019<br>
      Fin de promoción: 23/11/2019
    </ion-card-content>
  </ion-card>
  <ion-card class="outpro">
    <ion-card-header>
      <img src="https://img.pccomponentes.com/promotions/5128/asusmini.jpg">
      <ion-card-title>Asus VivaBook ahora con regalo!!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inicio de promoción: 30/10/2019<br>
      Fin de promoción: 02/11/2019
    </ion-card-content>
  </ion-card>
</ion-content>