<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>ThatPC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>

      <ion-col text-center>
        <ion-button (click)="gotocomponentes()">
          Componentes
          <ion-icon name="cube"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col text-center>
        <ion-button (click)="gotonoticias()">
          Noticias
          <ion-icon name="megaphone"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col text-center>
        <ion-button (click)="gotopromociones()">
          Promociones
          <ion-icon name="gift"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col text-center>
        <ion-button (click)="gotocomentarios()">
          Comentarios
          <ion-icon name="flag"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-slides>
      <ion-slide class="slide1">
        <div class="topmargin">
        <img src="../../../assets/icon/sliderimg1.png">
        <h1>Bienvenido a ThatPC</h1>
        <p>Una app dedicada a la tecnología</p>
        </div>
      </ion-slide>
      <ion-slide class="slide2">
        <div class="topmargin">
        <img src="../../../assets/icon/sliderimg2.png">
        <h1>Lo más destacado</h1>
        <p>Aquí encontrarás noticias e información sobre tecnología</p>
        </div>
      </ion-slide>
      <ion-slide class="slide3">
        <div class="topmargin">
        <img class="img3" src="../../../assets/icon/sliderimg3.png">
        <h1>Comparte y disfruta!</h1>
        <p>No olvides compartir las noticias por redes sociales o amigos</p>
        </div>
      </ion-slide>
    </ion-slides>
    <br><br>
    <p class="bienvenida">Gracias por visitarnos :)</p>
</ion-content>