<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://static3.abc.es/media/tecnologia/2019/11/25/57666244-kFEC--1240x698@abc.jpg">
      <ion-card-title>Redes 5G: La carrera de fondo hacia la conexión total</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este año se dio el pistoletazo de salida de esta tecnología que debe extenderse en 2020, pero falta más inversión,
      superar el conflicto entre China y EE.UU. y aprobar licitaciones
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="https://static4.abc.es/media/tecnologia/2019/11/25/esports-kUKI--1240x698@abc.jpg">
      <ion-card-title>Los profesionales de eSports sienten la misma presión que los deportistas tradicionales
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Los jugadores de eSports sufren unos niveles de estrés similares a los de un deportista tradicional. Publicado en
      la International Journal of Gaming and Computer-Mediated Simulations.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="https://static3.abc.es/media/tecnologia/2019/11/20/Clipboard-0005-kdRG--1240x698@abc.jpg">
      <ion-card-title>Primeros rumores del Samsung Galaxy S11: con grabación a 8K y compatible con redes 5G
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La firma surcoreana gana peso en el mercado mientras prepara la renovación de su teléfono estrella
    </ion-card-content>
  </ion-card>
</ion-content>